<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title> Formulário </title>
</head>
<body>
    <div class="container">
        <div class="container-fluid bg-secondary text-light p-5">
            <h1 class="display-4"> Novo pedido </h1>
        </div>
        <div class="card mt-3">
            <form th:object="${requsicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
                <div class="form-group">
                    <label for="nomeProduto"> Produto </label>
                    <input th:field="*{nomeProduto}" class="form-control" th:errorclass=" is-invalid" placeholder=" nome do produto "/>
                    <small> Informe qual é o nome do produto </small>
                    <div class="invalid-feedback" th:errors="*{nomeProduto}">
                        Errors do nome do produto
                    </div>
                <div class="form-group">
                    <label for="urlProduto"> Url </label>
                    <input th:field="*{urlProduto}" class="form-control" th:errorclass=" is-invalid" placeholder=" Url do produto "/>
                    <small> Procure em um site o produto que você deseja e coloe a url da página aqui </small>
                    <div class="invalid-feedback" th:errors="*{urlProduto}">
                        Errors da url nome do produto
                    </div>
                </div>
                <div class="form-group">
                    <label for="urlImagem"> Imagem </label>
                    <input th:field="*{urlImagem}" class="form-control" th:errorclass=" is-invalid"  placeholder=" Url do imagem "/>
                    <small> Copie a Url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores </small>
                    <div class="invalid-feedback" th:errors="*{urlImagem}">
                        Errors da url da imagem
                    </div>
                </div>
                <div class="form-group">
                    <label for="descricao"> </label>
                    <textarea th:field="*{descricao}" class="form-control"  placeholder=" Adcione detalhes importantes para ajudar o comprador "></textarea>
                </div>
                <button class="btn btn-primary mt-2 " type="submit"> Cadastrar </button>
            </form>
        </div>
    </div>
</body>
</html>