<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <div th:each="pedido: ${pedidos}">
        <div> Nome do produto: <span th:text = "${pedido.nomeProduto}"></span></div>
        <div> Valor: <span th:text="${pedido.valorNegociado}"> </span></div>
        <div> Data da entrega: <span th:text = "${pedido.dataDaEntrega}"> </span></div>

        <div> Produto: </div>
        <div> <input value ="URL do produto" th:value ="${pedido.urlProduto}"/> </div>
        <div> Descrições: </div>
        <div>
            <textarea th:text="${pedido.descricao}"> Descrição dos pedidos... </textarea>
        </div>

        <div>
            <img th:src="${pedido.urlImagem}"/>
        </div>
    </div>
</body>
</html>